---
export const prerender = true;
import MainLayout from '../../layouts/MainLayout.astro';
import Discussions from '../../components/Discussions.astro';

type PostType = {
	urlId: string;
	title: string;
	text: string;
	emoji: string;
	createdAt: string;
};

export async function getStaticPaths() {
	const options = {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
			accept: 'application/json',
			Authorization:
				'Bearer ol_api_0lH9OPfWLqBj9tKRucufyBIJjkSzK051fYAbcO'
		},
		body: '{"collectionId":"01e0a648-4b04-44ce-bba5-5da8612a7a32"}'
	};

	const response = await fetch(
		'https://app.getoutline.com/api/documents.list',
		options
	);

	const body = await response.json();
	const posts = body.data;

	return posts.map((post: PostType) => {
		return {
			params: { id: post.urlId },
			props: { post }
		};
	});
}
const { id } = Astro.params;
const { post } = Astro.props;
---

<style>
	.emoji:hover {
		transform: rotate(90deg);
	}
</style>

<MainLayout>
	<span class='emoji'>
		{post.emoji}
	</span>
	<article>
		<h3>
			{post.title}
			<span class='emoji'>
				{post.emoji}
			</span>
		</h3>
		{post.text}
		<Discussions />
	</article>
</MainLayout>
