---
import fetchDataAndCreateMarkdown from '../services/getCollections';
fetchDataAndCreateMarkdown();
import MainLayout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<MainLayout title='Головна сторінка'>
	<h1>Що таке Jamstack ?</h1>
	<p>
		Jamstack — це архітектурний підхід, який відокремлює рівень веб-доступу
		від даних і бізнес-логіки, покращуючи гнучкість, масштабованість,
		продуктивність і зручність обслуговування. Jamstack усуває потребу в
		бізнес-логіці, щоб диктувати веб-досвід. Це дає змогу створювати
		архітектуру, яку можна компонувати для Інтернету, де спеціальна логіка
		та сторонні сервіси використовуються через API.
	</p>
</MainLayout>
