---
type CategotyType = {
	name: string;
};
const response = await fetch(
	'https://app.getoutline.com/api/collections.list',
	{
		method: 'POST',
		headers: {
			Accept: 'application/json',
			'Content-Type': 'application/json',
			Authorization:
				'Bearer ol_api_0lH9OPfWLqBj9tKRucufyBIJjkSzK051fYAbcO'
		}
	}
);

const body = await response.json();
const document = body.data;
---

<div class='categories'>
	Categories:
	<ul class='categories__list'>
		{
			document.map((categoty: CategotyType) => (
				<li class='categories__item'>{categoty.name}</li>
			))
		}
	</ul>
</div>

<style>
	.categories {
		display: flex;
		align-items: center;
		width: 100%;
		margin-bottom: 30px;
	}

	.categories__list {
		display: flex;
		list-style: none;
		gap: 10px;
	}

	.categories__item {
		border: 1px solid black;
		padding: 15px;
		background-color: #fff;
	}
</style>
