---
const { link } = Astro.props;
---

<div class='go-back'>
	<img src='/arrow_back.svg' alt='' />
	<a href={link} class='back__link'>Повернутися назад</a>
</div>

<style>
	.go-back {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 50px;
	}
	.back__link {
		text-decoration: none;
	}
</style>
